/* Will Moritz's styles */

#will-moritz {
  background-image: url('../images/will_serious.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 1px 1px #000;
  transition: .2s;
}

#will-moritz:hover {
  background-image: url('../images/will_smile.jpg');
  color: #ff00f7;
  text-shadow: 2px 2px #fff;
  outline: 10px solid orange;
  box-shadow: 18px 18px 10px #000;
  animation: bounce .6s infinite ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
    outline-color: orange;
  }

  50% {
    transform: translateY(40px);
    outline-color: #fae231;
  }
}

/* Place your styles below this line */

#student1{
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/17458443_1632363720125963_2622043984881029133_n.jpg?oh=6f36ec2da035beaee7af7f2be8037ad3&oe=59D63465")
}